@use '../theme' as thm;
@use 'sass:map';
@use 'sass:color';

//********************************* 
//* HTML TAGS 
//*********************************
html {
    font-size: 62.5%;
    @include thm.less-box();
}

body {
    min-inline-size: 37.5rem;
    font-size: 16px;
    background-color: map.get(thm.$clr, 'dk-blue-100');
}

* {
    margin: 0;
    padding: 0;
    @include thm.less-box();
}

//********************************* 
//* TYPOGRAHPY 
//*********************************
.information__header > h1,
.information__paragraph > p,
span { font-family: map.get(thm.$ff, 'Inter'); }

.information__header > h1 {
    font-size: 2.4rem;
    color: map.get(thm.$clr, 'white');
    @include thm.less-query($device: 'smartphone', $size: 'md') {
        font-size: 3.5rem;
    }
}

.information__paragraph > p {
    font-size: 1.2rem;
    color: color.change(map.get(thm.$clr, 'white'), $alpha: .75);
    @include thm.less-query($device: 'smartphone', $size: 'md') {
        font-size: 1.4rem;
    }
}