@use '../theme' as thm;
@use 'sass:map';

//********************************* 
//* UTILITIES 
//*********************************
.wrapper {
    margin-block: 4rem;
    inline-size: clamp(30rem, 100%, 120rem);
    padding-inline: 2rem;
    @include thm.less-query($device: 'tablet', $size: 'sm') {
        position: absolute;
        inset: {
            block-start: 50%;
            inline-start: 50%;
        }
        transform: translate(-50%, -50%);
    }
}

.card-container {
    @include thm.less-grid($rows: repeat(3, auto));
    border-radius: .5rem;
    background-color: map.get(thm.$clr, 'dk-blue-200');
    overflow: hidden;
    @include thm.less-query($device: 'tablet', $size: 'sm') {
        @include thm.less-grid($rows: auto, $cols: 47.5% 52.5%, $flow: dense);
    }
    @include thm.less-query($device: 'tablet', $size: 'lg') {
        border-radius: 1rem;
    }
}